<div class="center-content">
  <div class="form-container">
    <h2>Your Question:</h2>
    <p><%= @question %></p>

    <h2>Coach's Answer:</h2>
    <p><%= @answer %></p>

    <%= link_to "Ask Another Question", ask_path, class: "btn btn-primary" %>
  </div>
</div>
